*{
    font-family: 'Montserrat';
}
/*   header   */
header{
    padding-top: 13px;
    margin: 0 auto;
    width: 1554px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Delivery{
    display: flex;
    flex-direction: column;
}
.Delivery-Title{
    font-weight: 600;
}
.Yellow-text{
    color:rgba(247, 210, 45, 1);
}
.Delivery-way{
    width: 480px;
    height: 25px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Book-call{
    font-weight: 700;
    background-color: rgba(243, 243, 247, 1) ;
    color: rgba(105, 111, 122, 1);
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 28px ;
}
.Book-call:hover{
    background-color: rgba(243, 243, 247, 0.712);
}
.Call-Link{
    font-weight: 700;
    color: rgba(247, 210, 45, 1);
    text-decoration: none;
    font-size: 26px;
}
.Call-Link:hover{
    text-decoration: underline;
}
/*   carousel   */
.view{
    margin: 0px auto;
    width: 1549px;
    overflow: hidden;
}
.carousel{
    margin-left: -370px;
    display: flex;
    align-items: center;
    position: relative;
}
.sliders{
    width: 588px;
}
.First{
    width: 0px;
}
.minus{
    margin-left: 250px;
}
.plas{
    margin-right: 250px;
    float: right;
    transform: scaleX(-1);
}
.animationNext{
    animation-name: next;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.animPrevious{
    animation-name: previous;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.hover{
    display: none;
}
.absolute{
    position: absolute;
    margin-left: -600px;
}
@keyframes next {
    0%{
  
    }
    100%{
        margin-left: -955px;
    }
}
@keyframes previous {
    0%{
    }
    100%{
        margin-left: 230px;
    }
}